*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #f7ce48 0%, #f8744f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
   width: 500px;
   height: 500px;

   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.form-group{
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 50px;
    /* border: 1px solid blue; */
     display: flex;
    justify-content: space-between; 
    
}

input{
    width: 450px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
button{
    height: 50px;
    width: 70px;
    border-radius: 10px;
    border: none;
    
}


.todo{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}
.complete-btn{
    height: 30px;
    position: absolute;
    right: 0;
    
}
.delete-btn{
    height: 30px;
    position: absolute;
    right: 80px;
}
.todo-item{
    list-style: none;
}